{
  "semi": true,
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "trailingComma": "all",
  "endOfLine": "lf",
  "jsxSingleQuote": true,
  "quoteProps": "consistent",
  "bracketSpacing": true,
  "arrowParens": "always",
  "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"]
}
